{% extends "site/base.layout.twig" %} 


{% block banner_addition %}
{% endblock %}

{% block content %}
<section class="news-promo">
    <div class="jumbotron news-intro">
        <div class="news_intro_content">
            
        </div><!--  end of .news-intro-content  -->
    </div><!--  end of .news-intro  -->
</section><!--  end of .contact-promo  -->

<div class="blog container">
  <div class="row">
    <!-- posts -->
    <div class="col-md-8">
       <div class="posts">
        {% if posts %}
        {% for post in posts %}
        <div class="post-item">
          {% if post['intro-img'] %}
          <div class="img-thumbnail">
            {{ post['intro-img'] | raw }}
          </div>
          {% endif %}
          <div class="post-details__container">
            <div class="post-details__left">
              <p class="post-date__day">{{ post['day'] }}</p>
              <p class="post-date__month">{{ post['month'] }}</p>
            </div>
            <div class="post-details__right">
              <h5 class="post-title">{{ post.title }} </h5> 
              <p class="post-preview">{{ post.intro | raw }} </p>
              <div class="post-details__footer">
                <p class="post-details__user"><i class="fa fa-user fa-fw"></i>&nbsp;{{ post.author }}</p>
                <p class="post-details__more">
                  <a href="{{ path_for('onePost', { url: post.url }) }}" class="btn btn-primary btn-sm">
                    Read more
                  </a>
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="mb-3">
        {% endfor %}
        {% else %}
        <p>There are no posts yet!</p>
        {% endif %}
      </div><!-- end posts --> 
    </div>
  </div>
</div>

{% endblock %}
