{% extends "site/base.layout.twig" %} 


{% block content %}

  <section class="template-intro hidden-sm-down">
      <div class="jumbotron intro-background">
          <div class="brands_intro_content"></div>
      </div>
  </section>

  <section class="brand-listing">
    <div class="drink-list">
      <h1 style="word-spacing:8px;">{{ category }} </h1>
      <div class="container">
        <div class="row">

          {% for product in products %}
          <div class="col-md-4 drink-item">
            <a style="display:block;border:none;" href="{{ category }}/?id={{ product['id'] }}">
              <img class="img-fluid" src="/uploads/files/{{ product['url'] }}" alt="{{ product['name'] }}">
            </a>
            <h4 class="mt-3 mb-0" style="word-spacing:7px;">{{ product['model'] ? product['model'] : ' ' }}</h4>
            <h3 class="mt-0 pt-0 mb-2" style="font-size: 1.5rem;height:26px;">{{ product['name'] }}</h3>
            <a class="btn btn-custom btn-sm mb-4" href="{{ category }}/?id={{ product['id'] }}">Read More</a>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </section>

{% endblock %}
