{% extends "site/base.layout.twig" %} 


{% block content %}
<section class="template-intro hidden-sm-down">
  <div class="jumbotron intro-background">
      <div class="brands_intro_content"></div>
  </div>
</section>

<div class="company">

  <h1 class="page-header">{{ page['title'] }}</h1>

  <section class="about-company" id="about">
    <h2 class="text-center hidden-md-up">{{ page['title'] }}</h2>
    <div class="caption-text">
        <p>{{ widgets['company-about'].content | raw }}</p>
    </div>
  </section>

  {% if widgets['company-values'] %}
  <section class="our-values" id="values">
    <h1>{{ widgets['company-values'].heading }}</h1>
    <div>
      {{ widgets['company-values'].content | raw }}
    </div>
  </section>
  {% endif %} 

 
  {% if widgets['company-capabilities'] %}
  <section class="company-capabilities" id="capabilities">
    <h1>{{ widgets['company-capabilities'].heading }}</h1>
    <div>
      {{ widgets['company-capabilities'].content | raw }}
    </div>
  </section>
  {% endif %}

  {% if widgets['company-market'] %}
  <section class="company-market" id="market">
    <h1>{{ widgets['company-market'].heading }}</h1>
    <div class="">
      {{ widgets['company-market'].content | raw }}
    </div>
  </section>

</div>
{% endif %}

{% endblock %}
