{% extends "site/base.layout.twig" %} 


{% block content %}
    <section class="drink">
        <div class="row">
            <div class="col-md-12 drink-brand">
                <h1 class="text-center" style="word-spacing:8px;">{{ product.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-5 col-sm-12">
                <h4 style="color: #0f253f;word-spacing:7px;padding:0 1rem;">{{ product.model }} </h4>
                <div class="product_specification">
                  <p style="white-space: pre-line;line-height:1.2;">{{ product.specification | raw  }}</p>
                </div>
                <div class="product_description">
                  <p style="white-space: pre-line;line-height:1.2;">{{ product.description  | raw }}</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center drink-img">
                <img src="/uploads/files/{{ product.url }}" alt="">
            </div>
            <div class="col-md-1 col-sm-1"></div>
          </div>  
          <div class="text-center mt-4">
              <a href="/brands/{{ product.category_name }}" class="btn btn-secondary" style="background-color:#0f253f;color:#fff">
                Back
              </a>
          </div>  
    </section>
{% endblock %}

