{% extends "site/base.layout.twig" %} 

{% block banner_addition %}
{% endblock %}

{% block content %}
  {% if success %} 
  <div class="container p-3" style="background-color:#fff">
    <div class="alert alert-success p-3 mb-0" role="alert">
        <i class="fa fa-exclamation-circle"></i>&nbsp;
        {{ success|raw }}
    </div>
  </div>
  {% endif %}

  {% if error %} 
  <div class="container p-3" style="background-color:#fff">
    <div class="alert alert-warning p-3 mb-0" role="alert">
        <i class="fa fa-exclamation-circle"></i>&nbsp;
        <strong> {{ error }} </strong>
    </div>
  </div>
  {% endif %}

  {% if widgets['section-one'] %}
    <section class="slider">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              {% for image in widgets['section-one'].images %}
              <div class="carousel-item {{ loop.index == 1 ? 'active' : ''}}">
                  <img class="" src="/uploads/files/{{ image['url'] }}" alt="{{ image['name'] }}" style="max-width:100%;height:auto;display:block" >
              </div>
              {% endfor %}
          </div>
          {% if widgets['section-one'].images | length > 1 %}
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
          {% endif %}
      </div>
  </section>
  {% endif %}

  {% if widgets['section-two'] %}
  <section class="heritage">
      <div class="row">
        <div class="col-md-12 my-4">
            <h2 class="">{{ widgets['section-two'].heading }}</h2>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-6 col-sm-12 excerpt mb-3">
            {{ widgets['section-two'].content | raw }}
        </div>
        <div class="col-md-6 col-sm-12 artwork mb-3">
            <div class="artwork-img">
                <div class="artwork-pegger">
                    <img class="img-fluid" src="/uploads/files/{{ widgets['section-two']["images"]['our_heritage'].url }}" alt="our heritage"/>
                </div>
            </div>
        </div>
      </div>
  </section><!--  end of .heritage  -->
  {% endif %}

  {% if visitor['isLoggedIn'] %}
  {% if widgets['section-three'] %}
  <section class="branding">
    <div class="branding_top-level">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="branding-copy">
            <h1 class="">{{ widgets['section-three'].heading }}</h1>
            {{ widgets['section-three'].content | raw }}
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row mb-3">
            {% for key, value in widgets['section-three'].images %}
            {% if loop.index <= 6 %}
            <div class="col-md-4 col-sm-6">
              <div class="image-wrapper text-center">
                {% set name = widgets['section-three']['images'][key]['name'] %} 
                {% set url = widgets['section-three']['images'][key]['url'] %} 
                <img class="img-fluid" src="/uploads/files/{{ url }}" alt="{{ name }}"/>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div> 
    <div class="branding_bottom-level">
      <div class="row mt-3">
        {% for key, value in widgets['section-three'].images %}
        {% if loop.index > 6 %}
        <div class="col-md-2 col-sm-3 mt-2">
          <div class="image-wrapper text-center">
            {% set name = widgets['section-three']['images'][key]['name'] %} 
            {% set url = widgets['section-three']['images'][key]['url'] %} 
            <img class="img-fluid" src="/uploads/files/{{ url }}" alt="{{ name }}"/>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section><!--  end of .branding  -->
  {% endif %}
  {% endif %}
  <section class="brand-building">

    {% if widgets['section-four'] %}
      <div class="row">
          <div class="col-md-6 bd1">
              <div class="building-img">
                  <div class="building-pegger">
                    {% if widgets['section-four']["images"]['brand_building1'].url %}
                      <img class="img-fluid" src="/uploads/files/{{ widgets['section-four']["images"]['brand_building1'].url }}" 
                            alt="{{ widgets['section-four']['images']['brand_building1'].name }}"/>
                    {% endif %}
                  </div>
              </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
              <div class="row p-3">
                <div class="col-md-1"></div>
                <div class="col-md-10 d-flex align-items-center">
                  <div class="">
                    <h2 class="text-center">{{ widgets['section-four'].heading }}</h2>
                    <div style="font-size:12px;">{{ widgets['section-four'].content | raw }}</div>
                    <div class="row more-link">
                      <div class="col-md-4"></div>
                      <div class="col-md-4 text-center">
                        <a href="/company" class="btn btn-primary btn-sm">Learn More</a>
                      </div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
          </div>
      </div>
    {% endif %}

    {% if widgets['section-five'] %}
      <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <div class="row p-3">
              <div class="col-md-1"></div>
              <div class="col-md-10 d-flex align-items-center">
                <div class="">
                  <h2 class="text-center">{{ widgets['section-five'].heading }}</h2>
                  <div style="font-size:12px;">{{ widgets['section-five'].content | raw }}</div>
                  <div class="row more-link">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                      <a href="/company" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="col-md-6 bd4">
            <div class="building-img">
              <div class="building-pegger">
                {% if widgets['section-four']["images"]['brand_building1'].url %}
                <img class="img-fluid" src="/uploads/files/{{ widgets['section-five']["images"]['brand_building2'].url }}" 
                      alt="{{ widgets['section-five']['images']['brand_building2'].name }}"/>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    {% endif %} 
    <!-- contact us -->
    {% if widgets['contact-section'] %}
    {% set data = widgets['contact-section'] %}
    <div class="contact-section container pt-5">
      <div class="row" id="contact">
        <div class="col-sm-12 col-md-6 pb-2">
          <div class="contact-details px-md-4">
            <div class="contact-details-heading">{{ data['heading'] }}</div>
            {% if visitor['isLoggedIn'] %}
            {{ data['content'] | raw }}
            <p>{{ data['attribute1'] }}</p>
            <p>{{ data['attribute2'] }}</p>
            <p>{{ data['attribute3'] }}</p>
            <p>{{ data['attribute4'] }}</p>
            {% else %}
            <p>Please use the form provided to send us an e-mail. A member of staff will get back to you shortly.</p>
            {# <p><a href="{{ path_for('loginPage') }}">Login</a> to view contact details.</p> #}
            {% endif %}
          </div>
        </div>
        <div class="col-sm-12 col-md-6 pb-2">
          <div class="px-md-5">
            <form action="{{ path_for('postFeedbackForm') }}" method="post" class="ledrop-form">
              <div class="row">
                <div class="col-md-12">
                  <input name="name" value="{{ old.name }}"  class="form-control  {{ errors.name ? 'has-error' : 'mb-1' }}" type="text" placeholder="Name">
                  {% if errors.name %} 
                  <small class="red">{{ errors.name }}</small>
                  {% endif %}
                </div>
                <div class="col-md-12">
                  <input name="phone" value="{{ old.phone }}" class="form-control  {{ errors.phone ? 'has-error' : 'mb-1' }}" type="text" placeholder="Phone">
                  {% if errors.phone %} 
                  <small class="red">{{ errors.phone }}</small>
                  {% endif %}
                </div>
                <div class="col-md-12">
                  <input name="email" value="{{ old.email }}" class="form-control  {{ errors.email ? 'has-error' : 'mb-1' }}" type="email" placeholder="Email">
                  {% if errors.email %} 
                  <small class="red">{{ errors.email }}</small>
                  {% endif %}
                </div>
              </div>
              <textarea class="form-control {{ errors.content ? 'has-error' : '' }}" name="content" cols="30" rows="4" 
                  placeholder="{{ errors.content ? 'This field is required' : 'Your Message' }}">{{ old.content }}</textarea>
              {% if errors.content %} 
              <small class="red">{{ errors.content }}</small>
              {% endif %}
              <div class="text-center mt-3 mb-3">
                <input class="btn btn-secondary" type="submit" value="Submit"/>
              </div>
            </form>
          </div>
        </div>
        {# <div class="hidden-sm-down col-md-4 pb-2">
            <div id="map" class="" style="width:100%;overflow-x:hidden">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4714.662040787225!2d3.4790953089560017!3d6.452737848504856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf43845110b01%3A0x356f7a438515f050!2sOpeyemisi+Bamidele+Crescent%2C+Lekki+Phase+1%2C+Lekki!5e0!3m2!1sen!2sng!4v1508745623693" width="350" height="284" frameborder="0" style="border:0;border-radius:5px;" allowfullscreen></iframe>
            </div>
        </div> #}
      </div>
    </div>
    {% endif %}


  </section>
    
{% endblock %}
